html {
    font-family: 'Lemonada', cursive;
    background-color: rgb(53, 53, 83);
}

#root {
    font-family: 'Lemonada', cursive;
    background-color: rgb(53, 53, 83);
    color: ivory
}

.messageContainer {
    border: 3px solid white;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    overflow-wrap: break-word;
}

h5 {
    color: rgb(10, 189, 10);
}

.line {
    border-top: 1px  ;
    border-style: groove;
}

.dark {
    color: rgba(0, 0, 0, 0.7);
}

.underline {
    text-decoration: underline black;
    padding-bottom: 5px;
}

input {
    margin: 10px;
}

